/* .maindiv {
  height: 600px;
  width: 100%;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  
}

.inputfield {
  background:#326089;
  width: 730px;
}



.seconddiv {
  margin-top: 200px;
  margin-left: 20px;
}

.inputform {
  border: none;
  border-bottom: 1px solid grey;
  margin-top: 5px;
  font-size: 16px;
  width: 400px;
  height: 30px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.button1 {
  margin-top: 40px;
  text-transform: uppercase;
  background:  #BF4718;
  padding: 20px;
  width: 150px;
  border-radius: 20px;
  display: inline-block;
  font-size: 15px;
  color: white;
}

lable,h3{
    color:white;
}

a{
    color:white;
    text-decoration: none;
}

.inputs{
  background:rgba(33, 30, 23, 0.05);
} */

.formcontainer {
  display: flex;
  height: 80vh;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
}

form {
  background: rgba(33, 30, 23, 0.05);
  padding: 2%;
  border-radius: 10px;
}

.button {
 
  background-color: #326089;
  border-radius: 10px;
  padding: 10px 0;
  width: 100px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 0px solid white;

}

.button2 {
  background-color: #bf4718;
  border-radius: 10px;
  padding: 10px 0;
  width: 120px;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: 0px solid white;
}

.inputform {
  border: none;
  border-bottom: 1px solid grey;
  margin-top: 5px;
  font-size: 16px;
  width: 400px;
  height: 30px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.buttondiv{
  text-align: center;
  margin-top: 3%;
}
